
  .events-container06 {
    flex: 0 0 auto;
    width: 200px;
    display: none;
    align-items: flex-start;
    flex-direction: column;
  }
  .events-container07 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .events-image {
    width: 100px;
    object-fit: cover;
  }
  .events-button01 {
    display: none;
  }
  .events-image01 {
    width: 100px;
    object-fit: cover;
  }
  .events-container08 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .events-container09 {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .events-button02 {
    display: none;
  }
  .events-image02 {
    width: 100px;
    object-fit: cover;
  }
  .events-text10 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-button03 {
    display: none;
  }
  .events-image03 {
    width: 100px;
    object-fit: cover;
  }
  .events-text11 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-container10 {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .events-button04 {
    display: none;
  }
  .events-image04 {
    width: 100px;
    object-fit: cover;
  }
  .events-text12 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-button05 {
    display: none;
  }
  .events-image05 {
    width: 100px;
    object-fit: cover;
  }
  .events-text13 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-container11 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .events-container12 {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .events-button06 {
    display: none;
  }
  .events-image06 {
    width: 100px;
    object-fit: cover;
  }
  .events-text15 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-button07 {
    display: none;
  }
  .events-image07 {
    width: 100px;
    object-fit: cover;
  }
  .events-text18 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-container13 {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .events-button08 {
    display: none;
  }
  .events-image08 {
    width: 100px;
    object-fit: cover;
  }
  .events-text19 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-button09 {
    display: none;
  }
  .events-image09 {
    width: 100px;
    object-fit: cover;
  }
  .events-text20 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-area-all-button {
    display: none;
  }
  .events-area-all-check {
    width: 100px;
    object-fit: cover;
  }
  .events-text22 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-area-international-button {
    display: none;
  }
  .events-area-international-check {
    width: 100px;
    object-fit: cover;
  }
  .events-text23 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-area-regional-button {
    display: none;
  }
  .events-area-regional-check {
    width: 100px;
    object-fit: cover;
  }
  .events-text24 {
    color: rgb(66, 87, 111);
    font-size: 18px;
  }
  .events-area-icon {
    width: 100px;
    object-fit: cover;
  }
  .events-narrow-search-bar {
    display: none;
  }
  .events-narrow-search-icon {
    width: 100px;
    object-fit: cover;
  }
  .events-filter-background {
    flex: 0 0 auto;
    width: 200px;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100px;
    display: none;
    align-items: flex-start;
    flex-direction: column;
  }
  .events-filter-textinput {
    width: 70px;
    padding-top: 6px;
    border-width: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    margin-top: 2px;
    border-color: #42576F;
  }
  .filter-container3 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-top: var(--dl-space-space-unit);
  }
  .filter-area-button {
    width: 44px;
    display: flex;
    padding: 0px;
    box-shadow: 0 0 10px 0 #d4d4d4;
    border-color: #FFC940;
    border-width: 2px;
    flex-direction: row;
  }
  .filter-area-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .filter-text06 {
    align-self: center;
    color: #415771;
    margin-left: var(--dl-space-space-halfunit);
  }
  @media(max-width: 767px) {
    .events-container06 {
      width: 100%;
      display: flex;
      z-index: 100;
      margin-top: var(--dl-space-space-threeunits);
      align-items: center;
    }
    .events-container07 {
      width: 400px;
      display: flex;
      z-index: 90;
      position: absolute;
      padding-top: var(--dl-space-space-fourunits);
      padding-left: var(--dl-space-space-twounits);
      border-radius: 10px;
      padding-right: var(--dl-space-space-twounits);
      padding-bottom: var(--dl-space-space-twounits);
      background-color: var(--dl-color-gray-white);
    }
    .events-text06 {
      font-size: 20px;
    }
    .events-button {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-image {
      width: 20px;
      height: 20px;
    }
    .events-text07 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
      text-align: left;
      margin-left: 2px;
    }
    .events-button01 {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-image01 {
      width: 20px;
      height: 20px;
    }
    .events-text08 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-text09 {
      font-size: 20px;
      margin-top: var(--dl-space-space-unit);
    }
    .events-container09 {
      flex: 1;
      width: auto;
    }
    .events-button02 {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-image02 {
      width: 20px;
      height: 20px;
    }
    .events-text10 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-button03 {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-image03 {
      width: 20px;
      height: 20px;
    }
    .events-text11 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-container10 {
      flex: 1;
      width: auto;
    }
    .events-button04 {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-image04 {
      width: 20px;
      height: 20px;
    }
    .events-text12 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-button05 {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-image05 {
      width: 20px;
      height: 20px;
    }
    .events-text13 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-text14 {
      font-size: 20px;
      margin-top: var(--dl-space-space-unit);
    }
    .events-container12 {
      flex: 1;
      width: auto;
    }
    .events-button06 {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-image06 {
      width: 20px;
      height: 20px;
    }
    .events-text15 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-text16 {
      width: 100%;
    }
    .events-button07 {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-image07 {
      width: 20px;
      height: 20px;
    }
    .events-text18 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-container13 {
      flex: 1;
      width: auto;
    }
    .events-button08 {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-image08 {
      width: 20px;
      height: 20px;
    }
    .events-text19 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-button09 {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-image09 {
      width: 20px;
      height: 20px;
    }
    .events-text20 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-text21 {
      font-size: 20px;
      margin-top: var(--dl-space-space-unit);
    }
    .events-area-all-button {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-area-all-check {
      width: 20px;
      height: 20px;
    }
    .events-text22 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-area-international-button {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-area-international-check {
      width: 20px;
      height: 20px;
    }
    .events-text23 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-area-regional-button {
      width: 100%;
      display: flex;
      padding: 2px;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: transparent;
    }
    .events-area-regional-check {
      width: 20px;
      height: 20px;
    }
    .events-text24 {
      color: #42576F;
      width: 100%;
      font-size: 18px;
    }
    .events-area-button {
      display: flex;
      padding: 0px;
      box-shadow: 0px 0px 10px 0px #d4d4d4;
      margin-top: var(--dl-space-space-unit);
      border-color: #FFC940;
      border-width: 2px;
      flex-direction: row;
    }
    .events-area-icon {
      width: 40px;
    }
    .events-narrow-search-bar {
      width: 400px;
      display: flex;
      z-index: 100;
      position: relative;
      align-items: center;
      border-width: 0px;
      border-radius: 10px;
      flex-direction: row;
      background-color: #42576F;
    }
    .events-narrow-search-text {
      color: var(--dl-color-gray-white);
      width: 100%;
      font-size: 20px;
    }
    .events-narrow-search-icon {
      width: 20px;
      height: 20px;
    }
    .events-filter-background {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 50;
        position: absolute;
        border-width: 0px;
        background-color: rgba(142, 142, 142, 0.37);
    }
  }
  @media(max-width: 479px) {
    .events-container06 {
      display: flex;
      margin-top: var(--dl-space-space-twounits);
    }
    .events-container07 {
      width: 280px;
    }
    .events-button02 {
      width: 100%;
    }
    .events-button03 {
      width: 100%;
    }
    .events-button04 {
      width: 100%;
    }
    .events-button05 {
      width: 100%;
    }
    .events-button06 {
      width: 100%;
    }
    .events-button07 {
      width: 100%;
    }
    .events-button08 {
      width: 100%;
    }
    .events-button09 {
      width: 100%;
    }
    .events-narrow-search-bar {
      width: 280px;
    }
    .events-filter-background {
      display: flex;
      border-width: 0px;
    }
  }
  