.message-sent-container {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 70%;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: 16px;
  flex-direction: column;
  padding-bottom: 16px;
  background-color: #42576F;
}
.message-sent-text {
  color: #ffffff;
}
.message-sent-root-class-name {
  align-self: flex-end;
}
.message-sent-root-class-name1 {
  align-self: flex-end;
}
.message-sent-root-class-name2 {
  align-self: flex-end;
}
.message-sent-root-class-name3 {
  align-self: flex-end;
}
.message-sent-root-class-name4 {
  align-self: flex-end;
}
.message-sent-root-class-name5 {
  align-self: flex-end;
}
